<div style="border: 1px solid #bbb;">
        <div class="fix" style="height: 80px; padding: 10px 20px; border-bottom: 1px solid #bbb;">
            <div class="l pct30">
                <img src="{{avatarUrl}}" alt="" height="80" class="vm">
                <span class="vm dib ml10">
                    <span class="f20 dib mb5">{{mobile}}</span> <br>
                    <a href="account_info.html" class="C_3">请完善您的资料</a>
                </span>
            </div>
            <div class="cell fix tc f16">
                <div class="Grid_3 l mt15">
                    <a href="javascript:" class="tdn">
                        <div class="C_1 f20" id="pay">0</div>
                        <div class="g3 mt5" >
                            待付定金
                        </div>
                    </a>
                </div>
                <div class="Grid_3 l mt15">
                    <a href="javascript:" class="tdn">
                        <div class="C_1 f20" id="prepaid">0</div>
                        <div class="g3 mt5" >
                            已参加
                        </div>
                    </a>
                </div>
                <div class="Grid_3 l mt10">
                    <a href="javascript:" class="tdn">
                        <img src="../css/img/ushome-exit.png" alt="" id="logout">
                        <div class="g3 mt5">
                            安全退出
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="p20">
                <h3>
                    账户安全
                </h3>
                <div class="mt10 lh20">
                    <img src="../css/img/icon-phone.png" alt="" class="vm">
                    手机 : 
                    <img src="../css/img/icon-yes.png" alt="" class="vm">
                    <span class="g9 mr20 vm">已经绑定</span>

                    <img src="../css/img/icon-email.png" alt="" class="vm">
                    邮箱 : 
                    没有绑定
                    <a href="account_bindinfo.html" class="C_2 ml10">立即绑定</a>
                </div>
            </div>

        </div>
    </div>