<form id="myform" method="post" data-rel="myform1">
<div class="fix fa mb20 mt30">
    <div class="l pct30 tr">
        <span class="Ist_tt">
            帐号 :
        </span>
    </div>
    <div class="cell">
        <input type="text" class="Ist_30 Ist_l" id="mobile"  check="required">
        <span class="C_1">*</span>
    </div>
</div>
<div class="fix fa mb20">
    <div class="l pct30 tr">
        <span class="Ist_tt">
            新密码 :
        </span>
    </div>
    <div class="cell">
        <input type="password" class="Ist_30 Ist_l" check="pwd1 required" id="newpasswprd" > 
        <span class="C_1">*</span>
    </div>
</div>
<div class="fix fa mb20">
    <div class="l pct30 tr">
        <span class="Ist_tt">
            确认新密码 :
        </span>
    </div>
    <div class="cell">
        <input type="password" class="Ist_30 Ist_l" check="pwd2 required" id="repasswprd" >
        <span class="C_1">*</span>
    </div>
</div>
<div class="fix fa mb20">
    <div class="l pct30 tr">
        <span class="Ist_tt">
                验证号 :
        </span>
    </div>
    <div class="cell">
        <input type="text" class="Ist_30 Ist_w" check="required" id="valiCode">
        <span class="Btn_blue Btn_30" id="getvali">获取验证码</span>
        <span class="C_1">*</span>
    </div>
</div>
<div class="fix fa mb20">
    <div class="l pct30 tr">
        <span class="Ist_tt">
            &nbsp;
        </span>
    </div>
    <div class="cell">
        <span class="Btn_green Btn_40" id="myform1">  保存修改  </span>
    </div>
</div>
</form>